.strong-text{
	font-weight: bold;
}
.gray-text{
	color: #7e7e7e !important;
}
a{
	text-decoration: none;
	color: #000;
}
a:hover{
	text-decoration: none;
}
button{
	background: transparent;
	border: none;
	outline: none;
}